<% content_for :menu do %>
  <%= render('posts/menu') %>
<% end %>

<h1>Editing Post</h1>

<%= render 'form', partner: @partner %>

<%= link_to 'Show', @partner %> |
<%= link_to 'Back', posts_path %>
