<div class='upload-progress text-white' style="background-color: rgba(0, 0, 0, 0.8); z-index: 9998; display: none;" data-controller='progress'>
  <div class='spinner' data-target='progress.spinner'>
    <div class="base-loader__img"></div>
    <div class="base-loader__circle"></div>
  </div>
  <div class='done-indicator' data-target='progress.done' style="display: none;">
    <div class="base-loader__img"></div>
    <div class="base-loader__circle"></div>
  </div>
  <div class="upload-comment" data-target='progress.comment'>
  </div>
</div>
