<div class='upload-progress text-white' id="loaderpage" style="background-color: rgba(0, 0, 0, 0.95); z-index: 9998;" data-controller='loader' data-target='loader.hidden' data-turbolinks-permanent=''>
  <div class='spinner'>
    <div class="base-loader__circle"></div>
    <div class="base-loader__img"></div>
  </div>
</div>
